.bgImage{
    -fx-background-image: url("../assets/background1.jpg");
    -fx-background-position:center;
    -fx-background-repeat:no-repeat;
    -fx-background-size: cover;
}

.formContainer {
    -fx-padding: 50 30 50 30;
}
.title {
    -fx-font-size: 50;
}
.description {
    -fx-font-size: 12;
    -fx-start-margin: 20;
}

.button {
    -fx-pref-width: 250;
    -fx-pref-height: 40;
    -fx-background-color: green;
    -fx-border-color: green;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-text-fill: #fff;
}

.input {
    -fx-max-width: 250;
    -fx-pref-height: 40;
    -fx-background-color: null;
    -fx-border-color: #fff;
    -fx-border-radius: 20;
    -fx-prompt-text-fill: #fff;
}

.buttonCircle {
    -fx-pref-width: 60;
    -fx-pref-height: 60;
    -fx-background-color: null;
    -fx-border-color: #fff;
    -fx-border-radius: 100;
    -fx-background-radius: 100;
    -fx-text-fill: #fff;
}

